.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
}

.drawer {
    display: none;
    width: 250px;
    box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.2);
    padding: 12px;
}

.body {
    flex: 1;
    position: relative;
}

@media screen and (min-width: 950px) {
    .drawer {
        display: block;
    }
}