.drawerLink {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
    border-radius: 6px;
    transition: background-color 250ms ease;
    cursor: pointer;
    background-color: rgb(40, 148, 190);
}

.name {
    color: white;
    transition: color 250ms ease;
}

.drawerLink:hover,
.drawerLink:active {
    background-color: rgb(17, 90, 119);
}

.image {
    width: 50px;
    height: 50px;
}