.card {
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 20px 10px;
    transition: all 250ms ease;
    cursor: pointer;
    text-decoration: none;
}

.card:hover,
.card:active {
    background-color: rgb(29, 100, 133);
}

.card:hover .title,
.card:active .title,
.card:hover .text,
.card:active .text {
    color: white;
}

.dataWrapper {
    display: flex;
    gap: 16px;
}

.title {
    color: var(--grey-1);
    padding-bottom: 4px;
}

.text {
    color: var(--grey-2);
}

.img {
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 700px) {
    .card {
        width: 50%;
        padding: 50px 10px;
    }

    .dataWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img {
        width: 80px;
        height: 80px;
    }
}