.closeButtonContainer {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
}

.closeButton {
    position: relative;
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttonLine {
    width: 60%;
    height: 2px;
    background-color: black;
    border-radius: 6px;
    position: absolute;
}

.firstLine {
    composes: buttonLine;
    transform: rotateZ(45deg);
}

.secondLine {
    composes: buttonLine;
    transform: rotateZ(-45deg);
}