.page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 500px;
    height: calc(100vh - var(--navHeight));
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 700px) {
    .cards {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .page {
        justify-content: center;
    }
}